global
    daemon

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend mysql_cluster_frontend
    bind *:3306
    mode tcp
    option tcplog
    default_backend galera_cluster_backend

backend galera_cluster_backend
    mode tcp
    option tcpka
    balance roundrobin
    server db db:3306 check
    server db-1 db-1:3306 check
    server db-2 db-2:3306 check
    server db-3 db-3:3306 check
    server db-4 db-4:3306 check
