global
    daemon

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend stats
    mode http
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats admin if TRUE
    stats auth {{ haproxy_user }}:{{ haproxy_password }}

frontend mysql_cluster_frontend
    bind *:3306
    mode tcp
    option tcplog
    default_backend galera_cluster_backend

backend galera_cluster_backend
    mode tcp
    option tcpka
    balance roundrobin
    server {{ db_host }} {{ db_host }}:3306 check
    server {{ db2_host }} {{ db2_host }}:3306 check
    server {{ db3_host }} {{ db3_host }}:3306 check
    server {{ db4_host }} {{ db4_host }}:3306 check
    server {{ db5_host }} {{ db5_host }}:3306 check
