APP_DB_HOST=db
APP_DB_USER=wordpress
APP_DB_PASSWORD=password
APP_DB_NAME=wordpress

GF_SECURITY_ADMIN_PASSWORD=admin

APP_STORAGE=/opt/app/storage
GRAFANA_DATA=/opt/app/storage/grafana
PROMETHEUS_DATA=/opt/app/storage/prometheus
