[mysqld]
server-id = 1
log_bin = mysql-bin
binlog_format = ROW
binlog_do_db = {{ mysql_database }}
gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON
binlog_group_commit_sync_delay = 100
binlog_group_commit_sync_no_delay_count = 10
