[mysqld]
server-id = 2
log_bin = mysql-bin
binlog_format = ROW
gtid_mode = ON
enforce_gtid_consistency = ON
log_slave_updates = ON
skip_slave_start = 1
read_only = 1
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci