---
- name: Home work 3
  hosts: carrier

  tasks:
    - name: Display Configuration Variables
      ansible.builtin.debug:
        msg:
          - "monitoring_url: http://{{ hostvars[inventory_hostname].ansible_host }}:{{ grafana_port_outside }}"

  roles:
    - cadvisor
    - prometheus
    - grafana
