services:
  wordpress:
    image: {{ wordpress_image }}
    ports:
      - "{{ wordpress_port }}:80"
    environment:
      {% if db_host == 'haproxy' %}
WORDPRESS_DB_HOST: "{{ db_host }}:{{ haproxy_listen_port }}"
      {% else %}
WORDPRESS_DB_HOST: "{{ db_host | default('db-master') }}:3306"
      {% endif %}
WORDPRESS_DB_USER: "{{ wordpress_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wordpress_db_password }}"
      WORDPRESS_DB_NAME: "{{ wordpress_db_name }}"
    volumes:
      - wp_data:/var/www/html
{% if db_host != 'haproxy' %}
    depends_on:
      - db-master
{% endif %}

{% if db_host != 'haproxy' %}
  db-master:
    container_name: db-master
    image: {{ wordpress_mysql_image }}
    command:
      - "--server-id={{ wordpress_master_server_id }}"
      - "--log-bin=mysql-bin"
      - "--binlog-format=ROW"
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - db_master_data:/var/lib/mysql

  db-slave:
    container_name: db-slave
    image: {{ wordpress_mysql_image }}
    command:
      - "--server-id={{ wordpress_slave_server_id }}"
      - "--log-bin=mysql-bin"
      - "--binlog-format=ROW"
      - "--read-only=ON"
    ports:
      - "3307:3306"
    depends_on:
      - db-master
    environment:
      MYSQL_ROOT_PASSWORD: "{{ wordpress_db_root_password }}"
      MYSQL_ROOT_HOST: "%"
      MYSQL_DATABASE: "{{ wordpress_db_name }}"
      MYSQL_USER: "{{ wordpress_db_user }}"
      MYSQL_PASSWORD: "{{ wordpress_db_password }}"
    volumes:
      - db_slave_data:/var/lib/mysql
{% endif %}

volumes:
  wp_data:
{% if db_host != 'haproxy' %}
  db_master_data:
  db_slave_data:
{% endif %}
