[Unit]
Description=Prometheus Server
After=network-online.target

[Service]
ExecStart={{ prometheus_dir }}/prometheus-{{ prometheus_version }}.{{ arch }}/prometheus \
    --config.file={{ prometheus_config_dir }}/prometheus.yml

Restart=always