global
  log stdout format raw local0 info

defaults
    mode tcp
    log global
    option tcplog
    timeout connect  5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend stats
    mode http
    bind :8404
    stats enable
    stats refresh 5s
    stats uri /stats
    stats show-modules

frontend postgres
    bind *:5432
    mode tcp
    default_backend patroni_pgsql_nodes

backend patroni_pgsql_nodes
    bind *:5000
    option httpchk GET /master
    http-check expect status 200
    server node01 patroni_node01:5432 maxconn 100 check port 8008
    server node02 patroni_node02:5432 maxconn 100 check port 8008
    server node03 patroni_node03:5432 maxconn 100 check port 8008
    server node04 patroni_node04:5432 maxconn 100 check port 8008
    server node05 patroni_node05:5432 maxconn 100 check port 8008
