services:
{% for i in range(2, 4) %}
  mysql_node_{{ i }}:
    image: mysql:8.0
    container_name: mysql_node_{{ i }}
    restart: always
    env_file: .env
    environment:
      - MYSQL_REPLICATION_MODE=slave
      - MYSQL_MASTER_HOST=mysql_node_1
      - MYSQL_MASTER_PORT_NUMBER=3306
    ports:
      - "{{ 3307 + i - 2 }}:3306"
    command: ["mysqld",
      "--server-id={{ i }}",
      "--relay-log=relay-bin",
      "--read_only=1",
      "--log_bin=mysql-bin"]
    volumes:
      - ./mysql_data_{{ i }}:/var/lib/mysql
    networks:
      - wordpress_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u$$MYSQL_USER", "-p$$MYSQL_PASSWORD"]
      interval: 10s
      timeout: 5s
      retries: 5
{% endfor %}

networks:
  wordpress_network:
    external: true
