CHANGE REPLICATION SOURCE TO
  SOURCE_HOST='mysql_node_1',
  SOURCE_PORT=3306,
  SOURCE_USER='{{ repl_user }}',
  SOURCE_PASSWORD='{{ repl_password }}',
  SOURCE_LOG_FILE='mysql-bin.000003',
  SOURCE_LOG_POS=157,
  GET_SOURCE_PUBLIC_KEY = 1;

STOP REPLICA;
START REPLICA;