version: '3.8'

services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: always
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db-master
      WORDPRESS_DB_NAME: "{{ DB_NAME }}"
      WORDPRESS_DB_USER: "{{ DB_USER }}"
      WORDPRESS_DB_PASSWORD: "{{ DB_PASSWORD }}"
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - db-master
    networks:
      - wordpress_network

  db-master:
    image: mysql:8.0
    container_name: db-master
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "{{ DB_ROOT_PASSWORD }}"
      MYSQL_DATABASE: "{{ DB_NAME }}"
      MYSQL_USER: "{{ DB_USER }}"
      MYSQL_PASSWORD: "{{ DB_PASSWORD }}"
      MYSQL_REPLICATION_USER: "{{ DB_REPLICATION_USER }}"
      MYSQL_REPLICATION_PASSWORD: "{{ DB_REPLICATION_PASSWORD }}"
    volumes:
      - db_master_data:/var/lib/mysql
      - ./master.cnf:/etc/mysql/conf.d/master.cnf
    networks:
      - wordpress_network

  db-replica:
    image: mysql:8.0
    container_name: db-replica
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "{{ DB_ROOT_PASSWORD }}"
      MYSQL_MASTER_HOST: db-master
      MYSQL_REPLICATION_USER: "{{ DB_REPLICATION_USER }}"
      MYSQL_REPLICATION_PASSWORD: "{{ DB_REPLICATION_PASSWORD }}"
    volumes:
      - db_replica_data:/var/lib/mysql
      - ./replica.cnf:/etc/mysql/conf.d/replica.cnf
    depends_on:
      - db-master
    networks:
      - wordpress_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db-master
      PMA_USER: root
      PMA_PASSWORD: "{{ DB_ROOT_PASSWORD }}"
    depends_on:
      - db-master
    networks:
      - wordpress_network

volumes:
  wordpress_data:
  db_master_data:
  db_replica_data:

networks:
  wordpress_network: