global
  log /dev/log local0
  user haproxy
  group haproxy
  daemon

defaults
  log     global
  option  tcplog
  timeout connect 5s
  timeout client 50s
  timeout server 50s

frontend mysql_front
  bind *:3306
  default_backend mysql_back

backend mysql_back
  balance roundrobin
  option mysql-check user haproxy_check
  {% for node in galera_nodes %}
  server {{ node }} {{ node }}:3306 check
  {% endfor %}

listen stats
  bind *:8404
  mode http
  stats enable
  stats uri /stats
  stats refresh 10s
  stats show-node
  stats auth {{ haproxy_user }}:{{ haproxy_password }}
