[mysqld]

#
# Disable other storage engines
#
disabled_storage_engines="MyISAM,BLACKHOLE,FEDERATED,ARCHIVE,MEMORY"

#
# Replication configuration parameters
#
server_id={{ item }}
gtid_mode=ON
enforce_gtid_consistency=ON

#
# Group Replication configuration
#
plugin_load_add='group_replication.so'
group_replication_group_name='{{ mysql_root_pw | to_uuid }}'
group_replication_start_on_boot=OFF
group_replication_local_address='10.16.1.1{{ item }}:33061'
group_replication_group_seeds='10.16.1.11:33061,10.16.1.12:33061,10.16.1.13:33061'
group_replication_bootstrap_group=OFF
