dba.verbose = 2
var dbPass = "{{ mysql_root_pw }}"
var clusterName = "{{ clustername }}"

try {
  print('Setting up InnoDB cluster\n');
  shell.connect('root@10.16.1.11', dbPass);
  
  dba.configureInstance('root:' + dbPass + '@10.16.1.11:3306', {clusterAdmin: "'cluster_admin'@'%'", clusterAdminPassword: "{{ mysql_root_pw }}", restart: true});
  dba.configureInstance('root:' + dbPass + '@10.16.1.12:3306', {clusterAdmin: "'cluster_admin'@'%'", clusterAdminPassword: "{{ mysql_root_pw }}", restart: true});
  dba.configureInstance('root:' + dbPass + '@10.16.1.13:3306', {clusterAdmin: "'cluster_admin'@'%'", clusterAdminPassword: "{{ mysql_root_pw }}", restart: true});

  var cluster = dba.createCluster(clusterName);
  print('Adding instances to the cluster.');
  print('.');
  cluster.addInstance('root:' + dbPass + '@10.16.1.12');
  print('.');
  cluster.addInstance('root:' + dbPass + '@10.16.1.13');
  print('.\nInstances successfully added to the cluster.');
  print('\nInnoDB cluster deployed successfully.\n');
  cluster.status();
} catch(e) {
  print('\nThe InnoDB cluster could not be created.\n\nError: ' + e.message + '\n');
}
