services:
  wordpress:
    container_name: wordpress
    image: wordpress:latest
    restart: always
    ports:
      - 80:80
    environment:
      WORDPRESS_DB_HOST: db-master
      WORDPRESS_DB_USER: {{ master_db_user }}
      WORDPRESS_DB_PASSWORD: {{ master_db_password }}
      WORDPRESS_DB_NAME: {{ wordpress_db_name }}
    depends_on:
      - db-master
      - db-replica
    networks:
      - wordpress-network
    volumes:
      - wordpress:/var/www/html

  db-master:
    container_name: {{ master_container_name }}
    image: mysql:8.0
    restart: always
    ports:
      - "{{ db_master_port }}:3306"
    environment:
      MYSQL_DATABASE: {{ wordpress_db_name }}
      MYSQL_USER: {{ master_db_user }}
      MYSQL_PASSWORD: {{ master_db_password }}
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    command: >
      --server-id=1
      --log-bin=mysql-bin
      --binlog-format=ROW
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
      --default-authentication-plugin=mysql_native_password
    volumes:
      - db_data_master:/var/lib/mysql
    networks:
      - wordpress-network

  db-replica:
    image: mysql:8.0
    restart: always
    container_name: {{ replica_container_name }}
    environment:
      MYSQL_DATABASE: {{ wordpress_db_name }}
      MYSQL_USER: {{ replica_db_user }}
      MYSQL_PASSWORD: {{ replica_db_password }}
      MYSQL_ROOT_PASSWORD: {{ mysql_root_password }}
    command: >
      --server-id=2
      --relay-log=relay-log
      --log-bin=mysql-bin
      --read-only=1
      --binlog-format=ROW
      --gtid-mode=ON
      --enforce-gtid-consistency=ON
      --bind-address=0.0.0.0
      --default-authentication-plugin=mysql_native_password
      --skip-replica-start
    depends_on:
      - db-master
    volumes:
      - db_data_replica:/var/lib/mysql
    networks:
      - wordpress-network
    ports:
      - "{{ db_replica_port }}:3306"

  mysql_replica_exporter:
    container_name: {{ replica_exporter_container_name }}
    image: prom/mysqld-exporter
    restart: always
    command:
      - "--mysqld.username={{ mysql_exporter_user }}:{{ mysql_exporter_password }}"
      - "--mysqld.address={{ replica_container_name }}:3306"
    networks:
      - wordpress-network
    depends_on:
      - db-replica

  mysql_master_exporter:
    container_name: {{ master_exporter_container_name }}
    image: prom/mysqld-exporter
    restart: always
    command:
      - "--mysqld.username={{ mysql_exporter_user }}:{{ mysql_exporter_password }}"
      - "--mysqld.address={{ master_container_name }}:3306"
    networks:
      - wordpress-network
    depends_on:
      - db-master

  prometheus:
    container_name: "{{ prometheus_container_name }}"
    image: prom/prometheus:latest
    restart: always
    ports:
      - "{{ prometheus_port }}:9090"
    networks:
      - wordpress-network
    depends_on:
      - mysql_master_exporter
      - mysql_replica_exporter
    volumes:
      - "/home/{{ ansible_user }}/prometheus.yml:/etc/prometheus/prometheus.yml"

  grafana:
    container_name: grafana
    image: grafana/grafana-enterprise
    restart: always
    ports:
      - "3000:3000"
    networks:
      - wordpress-network
    environment:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_username }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_INSTALL_PLUGINS: "grafana-piechart-panel"
    volumes:
      - grafana_data:/var/lib/grafana
      - /home/{{ ansible_user }}/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    depends_on:
      - prometheus

volumes:
  wordpress:
  db_data_master:
  db_data_replica:
  grafana_data:

networks:
  wordpress-network:
