global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "cadvisor"
    static_configs:
      - targets: ["{{ prometheus_container_name }}:9090"]

  - job_name: "mysql-master-monitoring"
    static_configs:
      - targets: ["{{ master_container_name }}:3306"]

  - job_name: "mysql-replica-monitoring"
    static_configs:
      - targets: ["{{ replica_container_name }}:3306"]
