[mysqld]
# General settings
bind-address=0.0.0.0
port=3306
user=mysql
pid-file=/var/run/mysqld/mysqld.pid
socket=/var/run/mysqld/mysqld.sock
datadir=/var/lib/mysql
secure-file-priv=/var/lib/mysql-files

# Character Set
character-set-server={{ mysql_character_set }}
collation-server={{ mysql_collation }}

# InnoDB settings
innodb_buffer_pool_size={{ mysql_innodb_buffer_pool_size }}
innodb_log_file_size={{ mysql_innodb_log_file_size }}
innodb_flush_log_at_trx_commit={{ mysql_innodb_flush_log_at_trx_commit }}
innodb_flush_method={{ mysql_innodb_flush_method }}
innodb_autoinc_lock_mode=2
innodb_doublewrite=1
innodb_read_io_threads=4
innodb_write_io_threads=4

# Group Replication settings
transaction_write_set_extraction=XXHASH64
loose-group_replication_group_name="{{ mysql_group_replication_name }}"
loose-group_replication_start_on_boot=on
loose-group_replication_bootstrap_group=off
loose-group_replication_single_primary_mode=on
loose-group_replication_enforce_update_everywhere_checks=off
loose-group_replication_flow_control_mode=QUOTA
loose-group_replication_flow_control_applier_threshold=25000
loose-group_replication_flow_control_certifier_threshold=25000

# Replication settings
binlog_format=ROW
binlog_checksum=NONE
log_bin=mysql-bin
log_slave_updates=ON
gtid_mode=ON
enforce_gtid_consistency=ON
sync_binlog=1
binlog_group_commit_sync_delay=100
binlog_group_commit_sync_no_delay_count=10 