[Unit]
Description=Prometheus Monitoring System
After=network.target

[Service]
User={{ user_login }}
ExecStart=/usr/local/bin/prometheus \
  --config.file=/etc/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/prometheus \
  --web.listen-address=:9090
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
