[Unit]
Description=Node Exporter
After=network.target

[Service]
User={{ user_login }}
Group={{ user_group }}
ExecStart=/usr/local/bin/node_exporter
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target