version: '3.8'

services:
  {{ wordpress_setup_db_master_container }}:
    build:
      context: .
      dockerfile: Dockerfile.db
    image: wordpressdb:latest
    container_name: {{ wordpress_setup_db_master_container }}
    command: --server-id=1 --log-bin=mysql-bin --binlog-format=row
    env_file: .env
    volumes:
      - db_data_master:/var/lib/mysql
    networks:
      - wordpress_network

  {{ wordpress_setup_db_slave_container }}:
    build:
      context: .
      dockerfile: Dockerfile.db
    image: wordpressdb:latest
    container_name: {{ wordpress_setup_db_slave_container }}
    command: --server-id=2 --log-bin=mysql-bin --binlog-format=row
    env_file: .env
    volumes:
      - db_data_slave:/var/lib/mysql
    networks:
      - wordpress_network

  {{ wordpress_setup_container }}:
    build:
      context: .
      dockerfile: Dockerfile.wp
    image: wordpressapp:latest
    container_name: {{ wordpress_setup_container }}
    depends_on:
      - {{ wordpress_setup_db_master_container }}
    env_file: .env
    ports:
      - "8081:80"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - wordpress_network

volumes:
  db_data_master:
  db_data_slave:
  wordpress_data:

networks:
  wordpress_network:
